OWNER=marrollyn

POSTGRES_USER=prac
POSTGRES_PASSWORD=prac
POSTGRES_DB=prac

DATABASE_DRIVER=postgres
# DATABASE_URL=postgres://database:5432/${DATABASE_NAME}
# DATABASE_URL=postgres://prac:prac@database:5432/prac
DATABASE_USER=prac
DATABASE_PASSWORD=prac
DATABASE_NAME=prac
DATABASE_PORT=5432

PGADMIN_DEFAULT_EMAIL=user@user.com
PGADMIN_DEFAULT_PASSWORD=password

# VITE_API_URL=/api/afisha
# VITE_CDN_URL=/content/afisha